<% for (var i = 0; i < jobs.length; i++) { %>
	<div class='job-box' data-id="<%= jobs[i]._id %>">
		<div class="job-box__cont">
			<div class="job-box__cont-img">
				<img src="../images/company_logo/docleak.png" alt="Docleak">
			</div>
			<h2 class="job-box__cont-pos">Web Developer</h2>
			<p class="job-box__cont-company">
				Janusz Soft Sp. z o. o.
			</p>
		</div>							
	</div>
<% } %>